body {
    font-family: Oswald, sans-serif;
    margin: 0;
    background-color: antiquewhite;
}

.website {
    padding-left: 16px;
    font-size: x-large;
}


nav {
    padding: 0 16px;
    display: flex;
    background-color: rgb(127, 137, 177);
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.3s;
}

.menu-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0px;
    background-color: rgb(127, 137, 177);
    border: 1px solid black;
}


.menu-items a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-bottom: 1px solid black;
    transition: 0.3s;
}

.menu-items a:hover {
    background-color: rgb(85, 142, 206);
}

.menu-items a:last-child {
    border-bottom: none;
}

.menu-items.show {
    display: flex;
}

.container {
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
}

.text-box {
    flex: 1;
    align-items: center;
    text-align: center;
}


.title {
    font-size: xx-large;
}

.info {
    font-size: x-large;
}

.info-box {
    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.center-box {
    display: flex;
    align-items: space-between;
    gap: 50px;
    justify-content: center;
    background-color:rgb(127, 137, 177);
    padding-top: 40px;
    padding-bottom: 40px
}


.photo {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    object-fit: cover;
    border-style: groove;
    border-color: black;
}

.photo-text {
    margin: 0;
    font-size: smaller;
}

@media screen and (max-width: 768px) {
    .center-box {
        flex-direction: column;
    }
}
