body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0c2d66;
    margin: 0;
}

.container {
    position: absolute;
}

.text-field {
    color: white;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-gap: 10px;
}

.grid-button {
    border-style: solid;
    border-color: white;
    color: white;
    background-color: #0c2d66;
    border-width: 2px;
    border-radius: 5px;

    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 50px;
    
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s, border-color 0.15s;
}

.grid-button:hover {
    border-color: #0c2d66;
    color:#0c2d66;
    background-color: white;
}

.go-back {
    position: absolute; 
    top: 0;
    left: 0;

    border-style: solid;
    border-color: white;
    color: white;
    background-color: #0c2d66;
    border-width: 2px;
    border-radius: 5px;

    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 30px;
    
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s, border-color 0.15s;

}

.go-back:hover {
    border-color: #0c2d66;
    color:#0c2d66;
    background-color: white;
}